<%- include('partials/header'); -%>

<div class="ui main text container segment" style="margin-top: 7.0em;">
   <div class="ui huge header">New Blog</div>
   <form class="ui form" action="/blogs" method="POST" class="">
      <div class="field">
         <label for=""><Title></Title></label>
         <input type="text" name="blog[title]" placeholder="title">
      </div>
      <div class="field">
         <label for="">Blog Image</label>
         <input type="text" name="blog[image]" placeholder="image-Url">
      </div>
      <div class="field">
         <label for="">Blog Content</label>
         <textarea name="blog[body]" id="" cols="30" rows="10"></textarea>
      </div>
      <input class="ui violet basic button" type="submit">
   </form>
</div>


<%- include('partials/footer'); -%>